apiVersion: apps/v1
kind: Deployment
metadata:
  name: products-api-deployment
  namespace: dev
  labels:
    app: products-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: products-api
  template:
    metadata:
      labels:
        app: products-api
    spec:
      containers:
      - name: products-api
        image: 440491339319.dkr.ecr.us-east-1.amazonaws.com/eks-microservices-products-api:latest
        ports:
        - containerPort: 8080
        env:
        - name: ENVIRONMENT
          value: "dev"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      imagePullSecrets:
      - name: ecr-registry-secret

