apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: microservices
type: Opaque
stringData:
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: StrongPassword123
  POSTGRES_DB: microservices_db