apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapUsers: |
    - userarn: arn:aws:iam::440491339319:user/ci-cd-user
      username: ci-cd-user
      groups:
        - deployers